/** MAIN SECTION **/

html {
  scroll-behavior: smooth;
}

.prose h1 {
  font-size: 3rem;
  margin: 2.5rem 0;
}

.prose h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.prose h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: #d1dced;
}

.prose p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem 0;
  color: #c5cbcf;
}

.prose p em {
  font-size: 0.9rem;
}

.prose a {
  color: #d0dae3;
}
.prose a:hover {
  color: #b2c8f7;
}

.prose ul,
.prose ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
  color: #c5cbcf;
  list-style: disc;
}

.prose blockquote {
  padding-left: 1rem;
  border-left: 4px solid #ccc;
  font-style: italic;
  color: #c4cfc2;
  margin: 1rem 0;
}

.prose hr {
  border-color: #181818;
}

.prose img {
  border-radius: 7px;
  width: 100%;
}

/** HEADER CLONE SECTION **/

.proseheader h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.proseheader h2 {
  font-size: 2.5rem;
}

.proseheader h3 {
  margin: 1rem 0;
}

.proseheader p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #c5cbcf;
}

/** MEDIA RESPONSIVE SECTION AGAIN **/

@media screen and (max-width: 768px) {
  .prose h1,
  .proseheader h1 {
    font-size: 1.75rem;
  }
  .prose h2,
  .proseheader h2 {
    font-size: 1.46rem;
  }
  .prose h3,
  .proseheader h3 {
    font-size: 1.17rem;
  }
}
